*{
	margin: 0px;
	padding: 0px;
	box-sizing:border-box;
}
body{
	overflow-y:scroll;
}
/*.imgRow{
	margin-bottom:8px;
}*/
.imgBox{
	float:left;
	position: relative;
	/*padding-left: 8px;*/
	border-radius: 4px;
}
.imgBox:first-child{
	padding-left: 0px;
}
.rowContainer{
	/*padding:8px;*/
	width:100%;
}
progress{
	display: none;
	position: fixed;
	width:60%;
	height: 20px;
	left: 50%;
	transform:translateX(-50%);
	bottom: 10px;
}
img{
	border-radius: 4px;
	cursor:url(../js/img/enlarge2.png),pointer;
}
/*.hoverImg:hover{
	opacity: 0.5;
}*/
.showBox{
	position: absolute;
	width:100%;
	height: 0px;
	bottom:0px;
	background: white;
	opacity: 0;
	font-size: 20px;
	font-weight: bold;
	transition:all 0.2s ease-in;
}