.showImg{	
	position: fixed;
	/*自适应直接用百分比表示就可以，要会用百分比表示宽高*/
	left: 50%;
	top: 50%;
	transform:translateX(-50%) translateY(-50%);
	transition:all;
}
.overMask{
	position:fixed;
	top:0px;
	left: 0px;
	background-color: rgba(0,0,0,0.7);
	z-index: 10;
	width:100%;
	height: 100%;
}
